/* List.js */

#list-container {
    margin: 0 auto 1.25rem auto;
    text-align: center;
    width: 19rem;
    overflow-y: auto;
}

#list-container #todo-list {
    padding: 0;
}


.list-item {
    list-style: none;
}

#number-of-tasks {
    margin-bottom: 1.25rem;
}
